%h2 Cars
%ul#cars
  - for car in @cars
    %li
      %h3!= link_to h(car.title), car, :title => car.title
      != link_to image_tag(car.images.first.image.url(:thumbnail)), car, :title => car.title
      != link_to 'Remove', car, :method => :delete, :class => 'remover'